.titulo-baixo {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.conteudo-informativo {
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form label {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    width: calc(110% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form textarea {
    width: calc(100% - 20px); 
    resize: vertical; 
}

form input[type="submit"] {
    width: calc(50% - 10px); 
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
}

form input[type="submit"]:hover {
    background-color: darkslategrey;
}

@media (max-width: 600px) {
    form input[type="text"],
    form input[type="email"],
    form input[type="tel"],
    form select,
    form textarea,
    form input[type="submit"] {
        width: 100%;
    }
}

