@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    min-height: 10vh;
    background: url("/src/assets /img/Defante-mic-verde.png") no-repeat ;
    background-size: 100%;
    background-color: darkslategrey;
    height: 70vh;
}

main {
    
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    margin-bottom: 10%;
     margin-top: 1000px;
    
}


.titulo {
    top: 30px;
    font-size: 190%;
    position:relative;
    text-align: center;
    color:rgb(223, 171, 0);
   
}



.artista-nome {
    margin-top: 10px;
    top: 30px;
    position:relative;
    text-align: center;
    color:rgb(255, 255, 255);
    text-decoration: underline;
}


.capas {
    
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    flex-wrap: wrap; /* Permitir quebra de linha */
    margin-top: 100px;
}

.capas .gari {
   width: 350px;
   height: 350px;
   border-radius: 4%;
   transition: 200ms;
}

.capas .robson {
    width: 350px;
    height: 350px;
   margin-top: 100px;
   border-radius: 4%;
}

.capas .jerry {
    width: 350px;
    height: 350px;
   margin-top: 100px;
   border-radius: 4%;
}

.capas .cnmc {
    width: 350px;
    height: 350px;
   margin-top: 100px;
   border-radius: 4%;
}
.capas .coisa {
    width: 350px;
    height: 350px;
   margin-top: 100px;
   border-radius: 4%;
}


.spotify-iframe {
    align-items: right;
    display:flex;
    flex-direction: column;
    margin-left: 50%;
    flex-wrap: wrap; /* Permitir quebra de linha */
    
}

.spotify-iframe .gari {
    width: 500px;
    height: 355px;
    margin-top:-2145px;
    
}

.spotify-iframe .robson {
    width: 480px;
    height: 355px;
    margin-top:100px;
}

.spotify-iframe .jerry {
    width: 480px;
    height: 355px;
    margin-top:100px;
}

.spotify-iframe .cnmc {
    width: 480px;
    height: 355px;
    margin-top:100px;
}

.spotify-iframe .coisa {
    width: 480px;
    height: 355px;
    margin-top:100px;
}

@media ((min-width: 390px) and (max-width: 966px)){
    .capas {
        transform: scale(0.6);

    }
    .spotify-iframe {
        transform: scale(0.4);
    }
}






