body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000;
  }

  .img-rodape {
    border-radius: 20px;
    width: 10%;
    margin-bottom: 0px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section {
    list-style-type: none;
    padding: 10px;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: larger;
    margin-bottom: 5px;
  }
  
  .footer-section li {
    display: inline;
    margin: 6px;
    
  }
  
  .footer-section a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    position: relative; 
    transition: color 0.3s ease;
}

.footer-section a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px; 
    left: 0;
    background-color: goldenrod;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer-section a:hover {
    color: goldenrod;
}

.footer-section a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

  
  .social-icons {
    margin: 0px;
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    margin: 8px;
    display: inline-block;
  }
  
  .social-icons img {
    filter: brightness(0) invert(1) sepia(1) saturate(100%) hue-rotate(360deg);
  }

  .social-icons img:hover {
    filter: brightness(1) invert(1) sepia(1) saturate(1500%) hue-rotate(333deg);
  }

  .facebook {
    width: 30px;
    height: auto;
  }
  .Instagram {
    width: 30px;
    height: auto;
  }
  .Twitter {
    width: 30px;
    height:auto;
  }
  
  .Youtube {
    width: 30px;
    height: auto;
  }

  .Tiktok {
    width: 38px;
    height: 40;
    margin-left: 3px;
  }

  .direitos-autorais {
    margin-top: 20px;
    font-size: 14px;
    color: goldenrod;
  }

  