
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

}

/* Configurações globais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  padding: 0 20px;
}

/* Layout Flexível */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  flex: 1 1 300px;
  background: #f4f4f4;
  padding: 20px;
  margin: 10px;
}

/* Imagens Responsivas */


/* Tipografia Responsiva */
body {
  font-size: 16px;
}

@media (min-width: 600px) {
  body {
      font-size: 18px;
  }

  .container {
      padding: 2em;
  }
}

@media (min-width: 900px) {
  body {
      font-size: 20px;
  }

  .container {
      padding: 3em;
  }
}
