<footer>
    <div class="footer-container">
      <img src="/src/assets /img/Robson.png" alt="icon" class="img-rodape">
      <div class="footer-section links">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/src/pages/discografia.html">Discografia</a></li>
          <li><a href="/src/pages/bio.html">Bio</a></li>
          <li><a href="/src/pages/carreira.html">Carreira</a></li>
          <li><a href="/src/pages/contatos.html">Contatos</a></li>
        </ul>
      </div> 
        <div class="social-icons">
          <a href="https://www.facebook.com/diogodefante/"><img class="facebook" src="/src/assets /img/fb.png" alt="Facebook"></a>
          <a href="https://x.com/defantediogo/"><img class="Twitter" src="/src/assets /img/X.png" alt="Twitter"></a>
          <a href="https://www.instagram.com/diogodefante/"><img class="Instagram" src="/src/assets /img/instagram2.png" alt="Instagram"></a>
        </div>
    </div>
    <div class="direitos-autorais">
      <p>Diogo Defante © 2024 todos os direitos reservados.</p>
    </div>
  </footer>
    <script src="/src/components/footer/footer.js"></script>